body,
html {
	height: 100%;
	height: -moz-available; /* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	height: fill-available;
}

#content_wrapper {
	height: 100%;
	height: -moz-available; /* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	height: fill-available;
}

@media screen and (min--moz-device-pixel-ratio: 0) {
	#content_wrapper {
		height: 100vh;
	}
}
