// ##──── Color ────────────────────────────────────────────────────────────────────────────────────
nav {
	background-color: $bg-color;
	color: $font-color;

	a,
	p {
		color: $font-color;
	}

	.bread-crumb-nav-slash {
		color: $font-color;
	}

	.nav-link {
		color: #ffffff;
	}
}

// ##──── Alignment─────────────────────────────────────────────────────────────────────────────────
nav {
	// The nav is a desktop only component (for now)
	@include mobile {
		display: none;
	}

	padding: 2.5em;

	width: 15vw;
	min-width: 200px;

	section {
		padding-bottom: 1em;
	}

	@include tablet {
		padding: 1em;
	}

	.nav-subsection {
		margin: 0.5ch 0;
	}

	.nav-bottom {
		margin-top: auto;
	}

	.breadCrumbs {
		word-wrap: break-word;
	}

	// organize the prev and next nav links
	.nav-link {
		display: grid;
		grid-template-columns: auto 1fr;
		span {
			display: inline;
		}
	}
}
