* {
  margin: 0;
  padding: 0;
  color: unset;
  font-family: "sans serif", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }

body {
  background-color: #252728;
  color: #f6f6fa; }
