:root {
  --bg-color: #494f5c;
  --bg-accent: #c1c1c1;
  --code-block-bg: #000000;
  --fonts: "sans serif", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Verdana, sans-serif; }
