$base-font-size: 16.8px;
// regular blog post articles
article {
	font-size: $base-font-size;
	// make the line height a little thinner in articles
	p {
		line-height: 140%;
	}
}

nav {
	font-size: $base-font-size;
	h1,h2,h3,h4,h5,h6 {
		font-size: $base-font-size;
	}
}

code {
	font-family: monospace;
}

// outside of articles make the line height a little taller
p {
	line-height: 150%;
}

// for styling menus and making their text a bit bigger
#list-article {
	font-size: 1.5em;
	line-height: 150%;
}
