@import "./variables";

:root {
	--bg-color: #252728;
	--bg-accent: #f6f6fa;
	--code-block-bg: #000000;
	--fonts: "sans serif", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Verdana, sans-serif;
}
