$bg-color: #494f5c;
$bg-accent: #343434;
$font-color: #e0e0e0;
$font-accent1: #787878;
$font-accent2: #c1c1c1;

$fonts: "sans serif", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
